.open--anime-page {
  overflow: hidden;
}

.anime {
  &__page {
    position: fixed;
    width: 100%;
    left: 0;
    background: black;
    z-index: 50;
    top: 0;
    height: 100%;

    &--container {
      padding: 25px 0;
      height: 100%;
      overflow-x: scroll;
    }
    &--close {
      padding-left: 25px;
      font-size: 2rem;
      cursor: pointer;
      z-index: 20;
      position: relative;
    }
    &--anime {
      padding: 20px 32px;
    }
  }
  &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 5;
      &--cover {
        width: 6.5rem;
      }
      &--title {
        padding: 25px 25px 0;
        font-size:1rem;
      }
    }
  &__nav{
    display:flex;
    justify-content:center;
    a{
      text-decoration: none;
      &:not(:first-child){
        padding-left:10px;
      }
    }
  }
  &__bio{
    overflow-y:scroll;
    max-height:120px;
    font-size:0.8rem;
    margin-bottom:22px;
  }
  &__char{
    display:flex;
    flex-direction: column;
    .chars{
      display:flex;
      overflow-x:scroll;
      .chars--bio{
        margin-left:10px;
      }
    }
  }
}

@media (min-width: 661px) {
  .anime {
    &__page {
      position: static;
      background: black;
      z-index: 10;
      &--container {
        padding: 115px 0;
        overflow: hidden;
      }
    }
  }
}
