&--char {
  h1 {
    margin-bottom: 10px;
  }
}

.chars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--bio {
    position: relative;

    &__name {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 0.75rem;
      display: flex;
      height: auto;
      align-items: flex-end;
      padding: 0 10px 10px;
      background: linear-gradient(to bottom, #00000000, #000000cb);
    }
  }
}
