@import "./includes/header-responsive.scss";

header {
  &.header {
    display: flex;
    height: $header-height;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;

    &:after {
      content: "";
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.04) 50%,
        rgba(0, 0, 0, 1) 100%
      );
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.header {
  &--logo {
    position: absolute;
    left: 25px;
    top: 30px;
    font-size: 1.8rem;
    text-shadow: 0 0 5px rgba(194, 37, 37, 0.575);
  }

  &__anime {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: space-between;
    &--title {
      color: white;
      justify-self: flex-end;
      padding-left: 15%;
      font-size: $header-title-mobile;
      text-shadow: 0 0 8px black, 0 0 1px black;
      font-weight: lighter;
    }
    &--image {
      padding-left: 15%;
    }
  }
}
