.list {
  &__title {
    font-size: 1.7rem;
    @include title-font-2;
    font-weight: 300;
  }
  &__row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__section {
    margin: 0 25px;
    margin-top: 25px;
    position: relative;

    &--shadow {
      width: 60px;
      height: 90%;
      background: linear-gradient(
        to right,
        rgba(54, 54, 54, 0.26),
        rgb(0, 0, 0)
      );
      position: absolute;
      top: 30px;
      z-index: 3;
      right: -5px;
      filter: blur(2px);
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    &--next {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 25px;
      height: $photo-height;
      background: rgba(87, 87, 87, 0.5);
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      display: none;
      z-index: 999;
      &.after {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        left: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &__wrapper {
    width: auto;
    z-index: 1;
    overflow-y: hidden;

    &--slide {
      width: auto;
      z-index: -1;
      height: 250px;
      display: inline-flex;
      align-items: center;
      transition: all 300ms ease-in;
      &[data-load="loading"] {
        width: 100%;
        justify-content: center;
      }
    }
  }
  &__cell {
    width: 150px;
    clear: both;
    white-space: nowrap;
    height: $photo-height;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    transition: all 300ms linear;
    &:hover {
      transform: scale(1.4);
      margin: 0 20px;
    }
    &:first-child {
      margin-right: 8.5px;
    }
    &:not(:first-child) {
      margin: 0 8.5px;
    }
    &--item {
      height: 100%;
      width: 100%;
    }
  }
}

@media (min-width: 669px) {
  .list {
    &__row {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__wrapper {
      overflow: hidden;
      &--slider {
        overflow-y: initial;
      }
    }
    &__section {
      margin: 20px 20px;
      &:first-child {
        margin-top: 30px;
      }
      position: relative;
      &--shadow {
        display: none;
      }
      &--next {
        display: block;
        opacity: 0.9;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
