.anime__page {
	&--search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;
	}
}
.search {
	&__input {
		width: 50%;
		height: 2rem;
		border-radius: 5px;
		border: none;
		font-size: 1rem;
		padding: 15px;
	}
}
