.char{
  &__container{
    display:flex;
    flex-direction: column;
    background:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 1px black;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin:0 auto;
    img{
      width:auto;
      height:auto;
    }
  }
  &__name{
    font-size:3.5em;
  }
  &__description{
    padding:8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:28px;
  }
}