* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./definitions.scss";

body {
  background: $black;
  color: $white;
  @include title-font-1;
}

@import "./components/list-row.scss";
@import "./components/header.scss";
