* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap");

body {
  font-family: "Ma Shan Zheng", "Tahoma", sans-serif;
}

img {
  width: 110px;
  height: 120px;
  border-radius: 35px;
}

.container--general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import './structure.scss';
@import './char.scss';